.main-test figure {
    justify-content: space-around;
    box-shadow: #333 10px 5px 10px 5px;
    box-sizing: border-box;   
    margin: 100px;
    padding: 0px; 
    align-items: center; 
    background-color: bisque; 
    display: flex;
    flex-direction: column;}
.main-test1 {
    text-align: center;}
.main-test1 p {
    font-size: 20px;}   
.client {
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 5px;
    box-shadow: #333 10px 5px 10px 5px;}
.client img {
    border-radius: 50%;
    box-shadow: #333 10px 5px 10px 5px;
    margin-bottom: 10px;}


